.popup {
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	padding: 1rem;
	background-color: rgba(0, 0, 0, 0.7);
	z-index: 9999;
	opacity: 1;
	overflow-x: hidden;
	overflow-y: auto;
	animation: 'show .5s ease';
}

.popup_inner {
	position: absolute;
	left: 25%;
	right: 25%;
	top: 25%;
	bottom: 25%;
	margin: auto;
	border-radius: 20px;
	background: white;
}

@keyframes show {
0% {
		display: none;
		opacity: 0;
	}
1% {
		display: flex;
		opacity: 0;
	}
100% {
		  opacity: 1;
	  }
}
