body {
    margin: 1em auto;
    padding: 1em;
    background: rgb(235, 235, 235);
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-gap: 20px;
}

h1,
h3,
.description {
    text-align: center;
}

p,
ul {
    font-size: 90%;
    color: rgb(107, 107, 107);
}

p {
    text-indent: 20px;
}


.resources {
    background-color: white;
    border-radius: 5px;
    padding: .1em;
    box-shadow: 1px 1px 1px 1px grey;
}

.items {
    display: grid;
    grid-gap: 20px;
}

@media only screen and (min-width: 600px) {
    body {
        width: 600px;
    }
}

.item {
    background-color: white;
    border-radius: 5px;
    padding: .5em;
    box-shadow: 1px 1px 1px 1px grey;
}

footer {
    display: grid;
    grid-gap: 20px;
}

footer > a {
    grid-column: 2/3;
}

img {
    background: white;
    padding: .5em;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px grey;
}
