@import "unified.css";

/* 
TODO: On this page
1. Get images to resize as the size of the page changes (within reason)
    - First desktop, then mobile 
2. Have the boxes resize in-kind with part 1
    - First desktop, then mobile
3. Keep it fluid
4. Active/Inactive tag?
*/

#wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-gap: 20px;
    justify-items: stretch;
    margin: 20px;
}

.project-element {
    /* position: relative; */
    /* width: 500px; */
    /*     margin-top: 20px;
    margin-left: auto;
    margin-right: auto; */
    /* max-width: 600px;
    max-height: 1000px; */
    /* display: grid; */
    display: flex;
    flex-direction: column;
    /* max-width: 550px; */
}

.project-title {
    /*     margin-top: 0;
    padding-top: 15px;
    margin-left: 15px; */
    margin-bottom: -22px;
    font-weight: bold;
}

.project-subtitle {
    /* margin-left: 15px; */
    font-weight: lighter;
    margin-bottom: 0;
    padding-bottom: 1%;
    /* margin-right: 20px; */
    /* Gray, replace with a color from unified.css */
    color: rgb(117, 117, 116);
    border-bottom: 1px solid rgb(117, 117, 116);
}

.project-image-container {
    flex: 1;
    padding: 1em;
}

.project-image {
    image-orientation: from-image;
    overflow: hidden;
    /* display: block; */
    max-width: 20vw;
    min-width: 200px;
    max-height: 300px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    border-style: solid;
    border-width: 2px;
    /* box-shadow: 10px 10px 5px rgba(128, 128, 128, 0.363); */
}

.project-footnote-text {
    /* position: absolute;
    bottom: 10px; */
    font-size: small;
    text-align: center;
}

.project-contributors {
    padding-bottom: 10px
}

.fa-github {
    font-size: 24px
}

.fa-users {
    font-size: 20px;
}

/* Have the size  */
@media screen and (max-width: 600px) {
    #wrapper {
        grid-template-columns: repeat(auto-fill, minmax(90vw, 400px));
    }

    .project-element {
        max-width: 550px;
    /* max-width: 400px; */
    }
}