@import "unified.css";

#wrapper {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    margin: 20px;
}

.project-element {
    display: flex;
    flex-direction: column;
}

.project-subtitle {
    font-weight: lighter;
    /* TODO: Gray, replace with a color from unified.css */
    color: rgb(117, 117, 116);
    border-bottom: 1px solid rgb(117, 117, 116);
    margin-top: -20px;
}

.project-image {
    max-width: 300px;
    max-height: 300px;
    border-radius: 15px;
    border-style: solid;
    border-width: 2px;
}

.project-footnote-text {
    /* TODO: Replace with value from unified.css */
    font-size: small;
    margin-top: auto;
}

.fa-github {
    font-size: 24px
}

.fa-users {
    font-size: 20px;
}