@font-face {
	font-family: 'Noto';
	src: url('NotoMono-Regular.woff') format('woff'),
	url('NotoMono-Regular.ttf') format('truetype'); 
}  

html {
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
    position: relative;
    padding-bottom: 6rem;
    min-height: 100%;
    font-family: 'Noto';
}
.main-section {
    margin: 0 auto;
}
.footer {
    display: flex;
    background-color: #6b6b6b;
    justify-content: center;
    border-top: 3px double #ffbb4f;
    flex-wrap: wrap;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}
a {
    color: #ffbb4f;
    padding-left: 13px;
    padding-top: 7px;
    padding-bottom: 7px;
}
a:visited {
    color: #ffbb4f;
}
a:hover {
    color: white;
}
.bottom-text {
	color: #3d3d3d;
	width: 100%;
	text-align: center;
    margin-top: 0;
    margin-bottom: 3px;
	padding-top: 10px;
    font-size: 13px;
}