@import "unified.css";

/*
TODO: On this page
1. Get images to resize as the size of the page changes (within reason)
    - First desktop, then mobile
2. Have the boxes resize in-kind with part 1
    - First desktop, then mobile
3. Keep it fluid
4. Active/Inactive tag?
*/

.wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-gap: 20px;
    justify-items: stretch;
    margin: 20px;
}

.project-element {
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
}

/* .project-element:hover {
    box-shadow: 0 0.25rem 0.25rem rgba(50,50,93,.1);
    transform: translateY(-0.75px);
    transition: transform .1s ease-in-out;
} */

.project-title:hover {
    color: #303F9F;
}

.project-subtitle {
    font-weight: lighter;
    color: var(--light-primary-color);
    border-bottom: 1px solid var(--divider-color);
    margin-top: -20px;
}

.project-image {
    image-orientation: from-image;
    overflow: hidden;
    max-width: 20vw;
    min-width: 200px;
    max-height: 300px;
    border-radius: 15px;
    border-style: solid;
    border-width: 2px;
}

.project-footnote-text {
    font-size: small;
    margin-top: auto;
}

.fa-github {
    font-size: 24px
}

.fa-users {
    font-size: 20px;
}

/* Have the size  */
@media screen and (max-width: 600px) {
    .wrapper {
        grid-template-columns: repeat(auto-fill, minmax(90vw, 400px));
    }

    .project-element {
        max-width: 550px;
    }
}
