
@font-face {
	font-family: 'Noto';
	src: url('NotoMono-Regular.woff') format('woff'),
	 url('NotoMono-Regular.ttf') format('truetype'); 
  }  
body {
	background-color: rgb(238, 238, 238);
	font-family: 'Noto';
}
#header {
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: #FF8E08;
	overflow: hidden;
	margin-bottom: 20px;
}
.header-item {
	float: left;
}
li a {
	display: block;
	color: rgb(255, 255, 255);
	text-align: center;
	padding: 15px 15px;
}
.wrapper > div {
	background-color: rgba(59, 136, 251, 0);
	padding: 10px;
	color: rgb(0, 0, 0);
}
.slideshow, .upcomingevents, .getinvolved {
	border: 5px double rgb(27, 116, 250);
	border-radius: 5px;
} 
.wrapper {
	display: grid;
	max-width: 1000px;
	margin: 0 auto;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(4, 200px);
	grid-gap: 20px;
}
.slideshow {
	grid-column: 1 / 4;
	grid-row: 1;
}
.promote {
	grid-column: 1;
	grid-row: 2;
	position: relative;
	border: rgba(27, 116, 250, 0);
}
.support {
	grid-column: 2;
	grid-row: 2;
	position: relative;
	border: rgba(27, 116, 250, 0);
}
.create {
	grid-column: 3;
	grid-row: 2;
	position: relative;
	border: rgba(27, 116, 250, 0);
}
.upcomingevents {
	grid-column: 1 / 4;
	grid-row: 3;
	position: relative;
}
.getinvolved {
	grid-column: 1 / 4;
	grid-row: 4;
}
.title {
	position: relative;
	top: -25px;
	text-align: center;
}
.text {
	position: relative;
	top: 40px;
	text-align: center;
}
.image {
	position: absolute;
	top: 50px;
	left: 0;
	right: 0;
	margin: auto;
}
#footer {
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: #FF8E08;
	overflow: hidden;
	margin-top: 20px;
}
.footer-item {
	float: left;
}
li a {
	display: block;
	color: white;
	text-align: center;
	padding: 15px 15px;
}
/* For mobile phones ===============================================================================================*/
@media only screen and (max-width: 500px) {
	.wrapper > div {
		border: 5px double rgb(27, 116, 250);
		border-radius: 5px;
	}
	.wrapper {
		display: grid;
		max-width: 500px;
		margin: 0 auto;
		grid-template-columns: 1fr;
		grid-auto-rows: minmax(100px, 200px);
		grid-gap: 10px;
	}
	.slideshow {
		grid-column: 1;
		grid-row: 1;
	}
	.promote {
		grid-column: 1;
		grid-row: 2;
	}
	.support {
		grid-column: 1;
		grid-row: 3;
	}
	.upcomingevents {
		grid-column: 1;
		grid-row: 5;
	}
	.create {
		grid-column: 1;
		grid-row: 4;
	}
	.getinvolved {
		grid-column: 1;
		grid-row: 6;
	}
}
