body {
	background-color: #b5b5b5;
}
#wrapper {
	display: grid;
	grid-template-columns: 306px;
	grid-template-rows: repeat(6, 119px);
	grid-row-gap: 30px;
	justify-content: center;
}
h3 {
	grid-column-start: 2;
	grid-row-start: 1;
	margin: auto;
	margin-left: 14px;
}
img {
	margin: 3px;
}
p{
	margin-left: 14px;
	margin-top: 0;
	grid-column-start: 2;
	grid-row-start: 2;
}
.event {
	background-color: #f7a547;
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-template-rows: 40% 60%;
	border-radius: 10px;
	grid-template-areas: "month title"
		                   "day description"
}
.month {
	grid-area: month;
	display: flex;
  align-items: center;
	text-align: center;
	border-radius: 10px 10px 0 0;
	font-size: 20px;
	background: #f45c42;
	justify-content: center;
}
.day {
	grid-area: day;
	display: flex;
  align-items: center;
	border-radius: 0 0 10px 10px;
	font-size: 50px;
	background: #e2e2e2;
	justify-content: center;
}