@import "unified.css";

/* Layout adapts to both desktop and mobile */
.wrapper {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
	grid-gap: 16px;
	justify-items: stretch;
	margin: 20px;
}

/* Make sure the list is within the box */
ol {
	padding-left: 22px;
	padding-right: 10px;
}

li {
	text-align: justify;
}
