@import "unified.css";

#wrapper {
	display: grid;
	max-width: 1000px;
	width: 97%;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 1fr);
	grid-auto-rows: min-content;
	grid-gap: 20px;
	margin: 20px auto 0;
}

.cardList {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: nowrap;
	width: 100%;
}

.cardGrid
	{
	display:flex;
	flex-direction: row;
}

#homeBody {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	width: 97%;
	margin: 20px auto 0;
	max-width: 1000px;
}

/* Position of each element */
#slideshow {
	grid-column: 1 / 4;
	grid-row: 1;
}

.image-container {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden
}

.image-container img {
	flex-shrink: 0;
	-webkit-flex-shrink: 0;
	max-width: 65%;
	max-height: 100%;
}

#promote {
	grid-column: 1;
	grid-row: 2;
	position: relative;
}

#support {
	grid-column: 2;
	grid-row: 2;
	position: relative;
}

#create {
	grid-column: 3;
	grid-row: 2;
	position: relative;
}

#events-wrapper {
	grid-column: 1 / 4;
	grid-row: 3;
}

#get-involved {
	grid-column: 1 / 4;
	grid-row: 4;
}

/* Events element CSS */
#events-grid {
	display: grid;
	margin-top: -15px;
	grid-gap: 20px;
	grid-template-columns: repeat(3, 1fr);
}

#upcoming-events-title {
	margin-bottom: 0;
}

.event-link {
	color: var(--primary-text-color);
	text-decoration: none;
	height: 133px;
	margin-top: 0;
}

.event {
	border: 1px solid;
	background: var(--background-color);
	border-top-color: var(--primary-color);
	border-top-width: 5px;
	border-radius: 0 0 6px 6px;
}

.event-title {
	margin-top: 10px;
	margin-bottom: 5px;
	margin-left: 6px;
	font-size: 20px;
}

.event-time {
	margin-left: 6px;
	margin-bottom: 6px;
	margin-top: 6px;
	font-size: 15px;
	color: var(--secondary-text-color);
}

.event-location {
	margin-top: 6px;
	margin-left: 6px;
	color: var(--secondary-text-color);
}

hr {
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 6px;
	width: 80%;
}

.event:hover {
	background: var(--dark-primary-color);
	border: solid var(--divider-color);
	border-top-width: 5px;
	cursor: pointer;
}

.event:hover > .time {
	color: var(--background-color);
	margin-left: 4px;
}

.event:hover > .location {
	color: var(--background-color);
	margin-left: 4px;
}

.event:hover > .event-title {
	color: var(--background-color);
	margin-left: 4px;
}

/* Get involved styling */

#get-involved-title {
	margin-bottom: 0;
}

#get-involved-text {
	margin-top: 0;
	margin-bottom: 0;
}

.tagline-icon {
	font-size: 80px;
	position: relative;
	top: -35px;
	margin-top: 15px;
	margin-bottom: -30px;
	color: var(--accent-color);
}

/* Slideshow container */
.slideshow-container {
	max-width: 100%;
	max-height: 400px;
	position: relative;
	margin: auto;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	min-width: 100%;
}

.slide {
	width: 100%;
	height: 350px;
	object-fit: cover;
	border-radius: 3px 3px 3px 3px;
}

.carousel .slide .legend {
	-webkit-transition: all .5s ease-in-out !important;
	-moz-transition: all .5s ease-in-out !important;
	-ms-transition: all .5s ease-in-out !important;
	-o-transition: all .5s ease-in-out !important;
	transition: all .5s ease-in-out !important;
	position: absolute !important;
	display: flex;
	justify-content: center;
	transform: translateY(200%);
	bottom: 40px !important;
	left: 50% !important;
	margin-left: -45% !important;
	width: 90% !important;
	border-radius: 10px !important;
	background: #fff !important;
	color: #000 !important;
	padding: 10px !important;
	font-size: 12px !important;
	text-align: center !important;
	opacity: .25 !important;
	-webkit-transition: opacity .35s ease-in-out !important;
	-moz-transition: opacity .35s ease-in-out !important;
	-ms-transition: opacity .35s ease-in-out !important;
	-o-transition: opacity .35s ease-in-out !important;
	transition: opacity .35s ease-in-out !important;
}

.carousel:hover .slide .legend {
	opacity: 1 !important;
}

/* Next & previous buttons */
.arrow {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 16px;
	margin-top: -22px;
	color: var(--secondary-text-color);;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
}

.prev {
	left: 0;
	border-radius: 3px 0px 0px 3px;
}

/* Position the "next button" to the right */
.next {
	right: 0;
	border-radius: 0px 3px 3px 0px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
	background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
	color: #f2f2f2;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
}

/* The dots/bullets/indicators */
.dot {
	cursor: pointer;
	height: 8px;
	width: 8px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;

}

.active, .dot:hover {
	background-color: #717171;
}

/* Fading animation */
.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}

@keyframes fade {
	from {
		opacity: .4
	}
	to {
		opacity: 1
	}
}

/* For mobile phones */
@media only screen and (max-width: 600px) {

	#wrapper {
		display: grid;
		width: 95%;
		max-width: 500px;
		margin: 0 auto;
		margin-top: 10px;
		grid-template-columns: 1fr;
		grid-template-rows: repeat(4, 120px) repeat(3, 167px);
		grid-auto-rows: min-content;
		grid-gap: 10px;
	}

	#wrapper > div {
		border-radius: 5px;
	}

	/* Position of the elements */
	#slideshow {
		grid-column: 1;
		grid-row: 1;
	}

	#promote {
		grid-column: 1;
		grid-row: 2;
	}

	#support {
		grid-column: 1;
		grid-row: 3;
	}

	#create {
		grid-column: 1;
		grid-row: 4;
	}

	#events-wrapper {
		grid-column: 1;
		grid-row: 5 / 8;
	}

	#events-grid {
		grid-template-columns: 1fr;
		grid-template-rows: 133px;
		grid-gap: 10px;
	}

	#get-involved {
		grid-column: 1;
		grid-row: 8;
	}
}
