@import "unified.css";

/* Center the forms  */
.wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

h1 {
	margin: 0 0 .35rem;
	text-align: center;
}

em {
	text-align: center;
}

h1 + div {
	margin-top: 1rem;
}

em + div {
	margin-top: 2rem;
}

/* Make a nice looking box around the forms */
form {
	margin-top: 3rem;
	width: 30rem;
	padding: 1rem;
	border: 1px solid var(--primary-color);
	border-radius: 3px;
	box-shadow: 0 4px 6px 0 var(--shadow-color);
}

div + div {
	margin-top: 1rem;
}

label {
	margin-right: .9rem;
}

input, textarea {
	font-size: .9rem;
}

input[type=checkbox], input[type=radio] {
	outline: none;
}

input[type=hidden] {
	display: none;
}

button {
	margin-top: 1rem;
}

/* Center the buttons in the middle of the form */
.center-horizontaly {
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* Make sure the inputs and labels are centered and alligned */
.input-label {
	display: flex;
	width: 23rem;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
}

.input-label input[type="text"], .input-label input[type="email"], .input-label input[type="checkbox"] {
	flex: 0 1 auto;
}

.input-label label {
	flex: 1 1 auto;
}

/* The email sign in doesn't need to be aligned with the rest of the inputs */
#sign-in-email-label {
	width: 3rem;
}

/* Hide the member create form */
#member-create {
	display: none;
}

/* Mobile devices */
@media only screen and (max-width: 600px) {
	form {
		/* Go from both sides of the screen */
		width: auto;

		/* No border in such a small area */
		border: none;
		box-shadow: none;
	}

	.input-label {
		width: 20rem;
	}
}
